@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #121212;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding-inline: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ======== media queries ========= */

@media (width <=1029px) {
  .mesh-gradient {
    top: 75%;
    left: -3rem;
  }
}

@media (width <=540px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  footer .container p {
    margin-top: 10px;
  }

  .mesh-gradient {
    top: 75%;
    left: -5rem;
  }
}